
html {
    font-size: 62.5%;
}
.card{
    background-color: #eee;
}
.navbar {
    font-size: 1.2rem;
}
.navbar-brand {
    font-size: 1.5rem;
}
#root {
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    font-size: 1.5rem;
    background-color: #ccc;
    min-height: 80vh;

}
footer {
    background-color: #eee;
    height: 9vh;
}
h3 {
    padding: 1rem 1.2rem;
}

.rating span {
    margin: 0.1rem;
}
.list-group-item {
    background-color: #eee;
    border: 0 !important;
}
.noPad {
    padding: 0;
    margin: 0;
}
.strong {
    font-size: 1.2rem;
    font-family: "Arial Black", Helvetica, sans-serif;
    color: black;
}
.btn-block {
    font-size: 1.3rem;
}
.form-control{
    font-size: 1.5rem;
}
i {
    font-size: 1.5rem;
}